<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>

	<div class="main-wrapper">

		<div class="horizontal-menu">
			<nav th:replace="fragments::top-navbar"></nav>

			<nav th:replace="fragments::bottom-navbar"></nav>
		</div>

		<div class="page-wrapper">
			<div class="page-content">

				<div class="row">
					<div class="col-lg-9 col-xl-9 stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-baseline mb-4">
									<h6 class="card-title mb-0">Information</h6>
								</div>
								<div class="d-flex flex-column mb-3" th:each="information : ${informations}">
									<a class="d-flex align-items-center border-bottom pb-3" th:href="@{/information/{id} (id = ${information.id})}">
										<div class="me-3">
											<img alt="user" class="rounded-circle wd-35"
											     src="https://via.placeholder.com/35x35">
										</div>
										<div class="w-100">
											<div class="d-flex justify-content-between">
												<h6 class="text-body mb-2">[[${information.title}]]</h6>
												<p class="text-muted tx-12">[[${information.id}]]</p>
											</div>
											<p class="text-muted tx-13" th:utext="${#strings.abbreviate(information.content,50)}"></p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-xl-3 grid-margin grid-margin-xl-0 stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-baseline mb-4">
									<h6 class="card-title mb-0">Posts</h6>
								</div>
								<div class="d-flex flex-column mb-3" th:each="post : ${posts}">
									<a class="d-flex align-items-center border-bottom pb-3" th:href="@{/post/{id} (id = ${post.id})}">
										<div class="me-3">
											<img alt="user" class="rounded-circle wd-35"
											     src="https://via.placeholder.com/35x35">
										</div>
										<div class="w-100">
											<div class="d-flex justify-content-between">
												<h6 class="text-body mb-2">[[${post.title}]]</h6>
												<p class="text-muted tx-12">[[${post.id}]]</p>
											</div>
											<p class="text-muted tx-13" th:utext="${#strings.abbreviate(post.content,50)}"></p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-12 col-xl-12 stretch-card">
						<div class="row flex-grow-1">
							<div class="col-md-4 grid-margin stretch-card" th:each="post : ${posts}">
								<div class="card">
									<div class="card-body">
										<h6 class="card-title">[[${post.title}]]</h6>
										<h6 class="card-subtitle mb-2 text-muted">[[${post.postCategory.name}]]</h6>
										<p class="card-text mb-3" th:utext="${#strings.abbreviate(post.content,150)}"></p>
									</div>
									<div class="card-footer">
										<div class="d-flex justify-content-end align-items-baseline">
											<a class="card-link" th:href="@{/post/{id} (id = ${post.id})}">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<footer th:replace="fragments::footer"></footer>

		</div>
	</div>

	<div th:replace="fragments::scripts"></div>

</body>
</html>