<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>

	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-4 mx-auto">
						<div class="card">
							<div class="row">
								<div class="col-md-12 ps-md-4">
									<div class="auth-form-wrapper px-4 py-5">

										<div class="alert alert-danger text-center" th:if="${param.error}">
											<p>Invalid Username or Password</p>
										</div>
										<div class="alert alert-danger text-center" th:if="${param.logout}">
											<p>You have been logged out</p>
										</div>

										<div th:replace="alerts::registerAlert"></div>

										<a class="noble-ui-logo d-block mb-2" href="#">Login<span>Dashboard</span></a>
										<h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>

										<form class="forms-sample" method="POST" th:action="@{/do-login}" th:object="${admin}">
											<div class="mb-3">
												<label class="form-label" for="username">Email address</label>
												<input class="form-control" id="username" placeholder="Email" type="email" th:field="*{username}">
<!--												<span class="badge border border-danger text-danger mt-2"-->
<!--												      th:errors="*{email}"-->
<!--												      th:if="${#fields.hasErrors('email')}"></span>-->
											</div>
											<div class="mb-3">
												<label class="form-label" for="password">Password</label>
												<input autocomplete="current-password" class="form-control" id="password" name="password" th:field="*{password}"
												       placeholder="Password" type="password">
<!--												<span class="badge border border-danger text-danger mt-2"-->
<!--												      th:errors="*{password}"-->
<!--												      th:if="${#fields.hasErrors('password')}"></span>-->
											</div>
											<div class="form-check mb-3">
												<input class="form-check-input" id="authCheck" type="checkbox">
												<label class="form-check-label" for="authCheck">
													Remember me
												</label>
											</div>
											<div>
												<button class="btn btn-primary me-2 mb-2 mb-md-0 text-white"
												        type="submit">Login
												</button>
												<a class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
												   th:href="@{/register}">
													<i class="btn-icon-prepend" data-feather="user"></i>
													Register Account
												</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- core:js -->
	<script th:src="@{/vendors/core/core.js}"></script>
	<!-- endinject -->

	<!-- inject:js -->
	<script th:src="@{/vendors/feather-icons/feather.min.js}"></script>
	<script th:src="@{/js/template.js}"></script>
	<!-- endinject -->

</body>
</html>