<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>

<body>
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto">
						<div class="card">
							<div class="row">
								<div class="col-md-4 pe-md-0">
									<div class="auth-side-wrapper">

									</div>
								</div>
								<div class="col-md-8 ps-md-0">
									<div class="auth-form-wrapper px-4 py-5">

										<div th:replace="alerts::registerAlert"></div>

										<a class="noble-ui-logo d-block mb-2" href="#">Noble<span>UI</span></a>
										<h5 class="text-muted fw-normal mb-4">Create a free account.</h5>

										<form class="forms-sample" method="POST" th:object="${admin}" th:action="@{/do-register}">
											<div class="mb-3">
												<label class="form-label" for="firstName">First Name</label>
												<input autocomplete="firstName" class="form-control" id="firstName"
												       placeholder="First Name" type="text" th:field="*{firstName}">
											</div>
											<div class="mb-3">
												<label class="form-label" for="lastName">Last Name</label>
												<input autocomplete="lastName" class="form-control" id="lastName"
												       placeholder="Last Name" type="text" th:field="*{lastName}">
											</div>
											<div class="mb-3">
												<label class="form-label" for="username">Email address</label>
												<input class="form-control" id="username" placeholder="Email"
												       type="email" th:field="*{email}">
											</div>
											<div class="mb-3">
												<label class="form-label" for="password">Password</label>
												<input autocomplete="password" class="form-control" id="password"
												       placeholder="Password" type="password" th:field="*{password}">
											</div>

											<div class="mb-3">
												<label class="form-label" for="retypePassword">Retype Password</label>
												<input autocomplete="retypePassword" class="form-control" id="retypePassword"
												       placeholder="Password" type="password" th:field="*{retypePassword}">
											</div>
											<div class="form-check mb-3">
												<input class="form-check-input" id="authCheck" type="checkbox">
												<label class="form-check-label" for="authCheck">
													Remember me
												</label>
											</div>
											<div>
												<button type="submit" class="btn btn-primary text-white me-2 mb-2 mb-md-0"
												   href="">Register</button>
												<button class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
												        type="button">
													<i class="btn-icon-prepend" data-feather="twitter"></i>
													Sign up with twitter
												</button>
											</div>
											<a class="d-block mt-3 text-muted" href="login.html">Already a user? Sign
												in</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- core:js -->
	<script th:src="@{/vendors/core/core.js}"></script>
	<!-- endinject -->

	<!-- inject:js -->
	<script th:src="@{/vendors/feather-icons/feather.min.js}"></script>
	<script th:src="@{/js/template.js}"></script>
	<!-- endinject -->

</body>
</html>