<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>

<body>

	<div th:fragment="postCategoryAlert">
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${createSuccess}">
			<strong th:text="${createSuccess}"></strong> Try to add post with the category.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${createFailed}">
			<strong th:text="${createFailed}"></strong> Create another category.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${updateSuccess}">
			<strong th:text="${updateSuccess}"></strong> Check the post with this category.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${enableSuccess}">
			<strong th:text="${enableSuccess}"></strong> Now post can be created with this category.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${deleteSuccess}">
			<strong th:text="${deleteSuccess}"></strong> Existing post is not deleted, but cannot create with this category.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
	</div>

	<div th:fragment="postAlert">
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${createSuccess}">
			<strong th:text="${createSuccess}"></strong> Wait for publish by Administrator
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${updateSuccess}">
			<strong th:text="${updateSuccess}"></strong> Wait for publish by Administrator
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${publishSuccess}">
			<strong th:text="${publishSuccess}"></strong> Now post can be accessed in blog
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${deleteSuccess}">
			<strong th:text="${deleteSuccess}"></strong> Now post can not be accessed in blog & was archived
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
	</div>

	<div th:fragment="registerAlert">
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${registerSuccess}">
			<strong th:text="${registerSuccess}"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${registerFailed}">
			<strong th:text="${registerFailed}"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${passwordError}">
			<strong th:text="${passwordError}"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
		</div>
	</div>

	<div th:replace="fragments::scripts">
	</div>

</body>
</html>