<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>

<body>

    <div class="main-wrapper">
        <nav th:replace="fragments::sidebar"></nav>

        <div class="page-wrapper">
            <div class="page-content">

                <nav class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Data Table</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                                    <strong th:text="${success}"></strong> Try to add post with the category.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
                                </div>

                                <h6 class="card-title mb-2">All Categories</h6>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                    Add Category
                                </button>
                                <!-- Add New Category Modal-->
                                <div th:replace="components::addCategoryModal"></div>

                                <div class="table-responsive">
                                    <table class="table" id="dataTableExample">
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Category Name</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category : ${categories}">
                                            <td th:text="${category.id}"></td>
                                            <td th:text="${category.name}"></td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-icon">
                                                    <i data-feather="check-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-icon">
                                                    <i data-feather="box"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer th:replace="fragments::footer"></footer>
            </div>
        </div>
    </div>


    <div th:replace="fragments::scripts">
    </div>

    <div th:replace="fragments::scripts-datatables">
    </div>

</body>
</html>