<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>

<body>

    <div class="main-wrapper">
        <nav th:replace="fragments::sidebar"></nav>

        <div class="page-wrapper">
            <div class="page-content">

                <nav class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Data Table</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                <div th:replace="alerts::postCategoryAlert"></div>

                                <h6 class="card-title mb-2">All Categories</h6>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                    Add Category
                                </button>
                                <!-- Add New Category Modal-->
                                <div th:replace="components::addCategoryModal"></div>

                                <div class="table-responsive">
                                    <table class="table" id="dataTableExample">
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Category Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category : ${categories}">
                                            <td th:text="${category.id}"></td>
                                            <td th:text="${category.name}"></td>
                                            <td>
                                                <span class="badge bg-success" th:if="${category.isActivated} == true">Active</span>
                                                <span class="badge bg-danger" th:if="${category.isActivated} == false">Non-Active</span>
                                            </td>
                                            <td>
                                                <a id="editButton" class="btn btn-primary btn-icon" th:href="@{/posts/categories/update/(id = ${category.id})}">
                                                    <i data-feather="edit"></i>
                                                </a>
                                                <div th:replace="components::editCategoryModal"></div>

<!--                                                <button type="button" class="btn btn-danger btn-icon" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal">-->
<!--                                                    <i data-feather="x-square"></i>-->
<!--                                                </button>-->
<!--                                                <div th:replace="components::deleteCategoryModal"></div>-->
                                                <a th:if="${category.isActivated == false}" th:href="@{/enable-category/(id = ${category.id})}" id="enableButton" class="btn btn-success btn-icon">
                                                    <i data-feather="check-square"></i>
                                                </a>
                                                <a th:if="${category.isActivated == true}" th:href="@{/delete-category/(id = ${category.id})}" id="deleteButton" class="btn btn-danger btn-icon">
                                                    <i data-feather="trash-2"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer th:replace="fragments::footer"></footer>
            </div>
        </div>
    </div>

    <div th:replace="fragments::scripts">
    </div>

    <div th:replace="fragments::scripts-datatables">
    </div>

</body>
</html>